.tweetBox {
  padding: 10px 20px 20px;
  border-bottom: 1px solid rgb(45, 62, 79);
  cursor: pointer;
  box-sizing: border-box;
}

.tweetBox:hover {
  background-color: #1d2731;
}

.tweetHeader {
  display: flex;
  justify-content: space-between;
}

.nameText {
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}

.usernameText,
.timeText {
  color: #8b98a5;
  font-size: 1.1rem;
}


.userProfilePic {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.textContent {
  font-size: 1.2rem;
}

.tweetImage {
  border-radius: 20px;
  height: 500px;
  margin-top: 20px;
}

.tweetOptions {
  display: flex;
  width: 70%;
  justify-content: space-between;
  box-sizing: border-box;
}

.tweetOptions div {
  cursor: pointer;
}

.tweetOptions div:first-child:hover {
  color: #66ff66;
}

.tweetOptions div:nth-child(2):hover {
  color: #ffaa1d;
}

.tweetOptions div:nth-child(3):hover {
  color: #ff00cc;
}

.tweetOptions div:nth-child(4):hover {
  color: #66ff66;
}

.tweetOptions div:nth-child(5):hover {
  color: #00cccc;
}
