.tweetBox {
    margin-top: 10px;
    padding: 20px;
}

.userProfilePicBox {
   
}

.userProfilePic {
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.textContent{
    font-size:1.2rem;
}