.tweetBox {
  padding: 10px 20px 20px;
  border-bottom: 1px solid rgb(45, 62, 79);
  border-top: 1px solid rgb(45, 62, 79);
  cursor: pointer;
  box-sizing: border-box;
}

.tweetBox:hover {
  background-color: #1d2731;
}

.tweetHeader {
  display: flex;
  justify-content: space-between;
}

.moreBox {
  width: 335px;
  font-size: 1.3rem;
  box-shadow: "rgba(164, 141, 141, 50%) 0px 3px 8px";
  background-color: #1b2b3c;
  height: 307px;
  line-height: 46px;
  position: absolute;
  left: 810px;
  border-radius: 10px;
  padding: 15px;
}

.moreBox > div:hover {
  background-color: #213346;
}

.editBox {
  background-color: #15202b;
  position: absolute;
  margin-left: 15px;
  height: 100px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgba(212, 201, 201, 0.24) 0px 3px 8px;
}

.nameText {
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}

.usernameText,
.timeText {
  color: #8b98a5;
  font-size: 1.1rem;
}

.userProfilePic {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.textContent {
  font-size: 1.2rem;
}

.tweetImage {
  border-radius: 20px;
  height: auto;
  margin-top: 20px;
}

.tweetOptions {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.tweetOptions div {
  cursor: pointer;
}

.tweetOptions div:first-child:hover {
  color: #66ff66;
}

.tweetOptions div:nth-child(2):hover {
  color: #ffaa1d;
}

.tweetOptions div:nth-child(3):hover {
  color: #ff00cc;
}

.tweetOptions div:nth-child(4):hover {
  color: #66ff66;
}

.tweetOptions div:nth-child(5):hover {
  color: #00cccc;
}

/* comment box component  */
.commentBox {
  min-height: 350px;
  background-color: #15202b;
  
  box-sizing: border-box;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
