.homeRightParent {
    position: fixed;
    width: 27%;
    justify-content: center;
    padding: 20px 15px;
    
}

div .searchBox{
    border-radius: 100px;
    cursor:pointer;
    height: 40px;
    border: none;
    letter-spacing: 1.2px;
    background-color: #273340;
}

div .searchBox:focus {
    border: 2px solid #f91880;
}

/* What's happening  */
div #trendingBox {
    margin-top: 20px;
    margin-left: 50px;
}
