.homeRightParent {
    position: fixed;
    width: 27%;
    justify-content: center;
    padding: 20px 15px;
    
}

div .searchBox{
    border-radius: 100px;
    cursor:pointer;
    height: 40px;
    border: none;
    letter-spacing: 1.2px;
    background-color: #273340;
}

div .searchBox:focus {
    border: 2px solid #f91880;
}

/* What's happening  */
 #trendingContainer {
    margin-top: 20px;
    color: #fff;
    background-color:#273340;
    padding: 20px 15px;
    border-radius: 20px;
    
}
.trendingBox {
    display: flex;
    justify-content:space-between;
}

#trendingContainer .trendingBox div {
    width: 300px;
    text-align: left;
}

.trendingBox div p:last-child{
    /* margin-right: 33px; */
    margin-top: 0;
}

#trendingContainer .trendingBox div b{
    margin-top: 0;
}

.trendingBox img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}


.TredninghashTag {
    color: #f8187f;
}